<!-- 共通ヘッダー -->
<header class="app-header navbar">
  <button class="navbar-toggler sidebar-toggler d-md-none mr-auto" type="button" data-toggle="sidebar-show">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/"><img class="img-logo" src="/img/logo.png"></a>
  <ul class="nav navbar-nav d-md-down-none">
  </ul>
</header>
