<div class="sidebar" id="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-title">トイレチェッカー</li>
      <li class="nav-item">
        <a href="/" class="nav-link d-inline-flex flex-nowrap align-items-center w-100">
          <i class="nav-icon material-icons">keyboard_arrow_right</i>
          ダッシュボード
        </a>
      </li>
    </ul>
  </nav>
  <button class="sidebar-minimizer" type="button"></button>
</div>
