<div class="sidebar" id="sidebar-admin">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-title">トイレチェッカー</li>
      <li class="nav-item">
        <a href="/admin.html" class="nav-link d-inline-flex flex-nowrap align-items-center w-100">
          <i class="nav-icon material-icons">keyboard_arrow_right</i>
          ダッシュボード
        </a>
      </li>
      <li class="nav-title js-sidebar-beta">会議室チェッカー</li>
      <li class="nav-item">
        <a href="/room.html" class="nav-link d-inline-flex flex-nowrap align-items-center w-100">
          <i class="nav-icon material-icons">keyboard_arrow_right</i>
          ダッシュボード
        </a>
      </li>
      <li class="nav-title js-sidebar-admin">管理者向け</li>
      <li class="nav-item">
        <a href="/logs.html" class="nav-link d-inline-flex flex-nowrap align-items-center w-100">
          <i class="nav-icon material-icons">keyboard_arrow_right</i>
          使用回数ログ
        </a>
      </li>
      <li class="nav-item">
        <a href="javascript:void(0);" class="nav-link d-inline-flex flex-nowrap align-items-center w-100 js-action-emergency">
          <i class="nav-icon material-icons">keyboard_arrow_right</i>
          緊急停止/再開
        </a>
      </li>
    </ul>
  </nav>
  <button class="sidebar-minimizer" type="button"></button>
</div>
