<!-- 監視成功モード -->
<a href="#js-toilet-group-x" data-toggle="collapse" class="text-decoration-none text-dark js-status-valid-collapse" aria-expanded="true">
  <div class="callout b-t-1 b-r-1 b-b-1 p-3 js-status-valid">
    <div class="progress-group">
      <div class="progress-group-header">
        <i class="material-icons progress-group-icon mr-2">wc</i>
        <div class="font-weight-bold"><span class="js-status-name">4F 男性用トイレ</span></div>
        <div class="ml-auto">
          <span class="js-status-rate">0</span>% 使用中
        </div>
      </div>
      <div class="progress-group-bars">
        <div class="progress progress-xs">
          <div class="progress-bar js-status-progressbar" role="progressbar" style="width: 0;"
              aria-valuenow="0" aria-valuemin="0" aria-valuemax="0"></div>
        </div>
      </div>
    </div>
    <span class="js-free">
      <strong class="h4 font-weight-bold">空き <span class="js-status-available">0</span> <span class="js-status-available-unit">室</span></strong>
    </span>
    <div class="collapse js-toilet-group-details" id="js-toilet-group-details-x">
      <div class="card card-body mt-4 mb-0 js-toilet-group-details-container">
        <dl>
          <dt>4F 男性用トイレ (洋式)</dt>
          <dd class="my-0">空き</dd>
        </dl>
      </div>
    </div>
  </div><!-- callout -->
</a>

<!-- 監視不能モード -->
<div class="callout b-t-1 b-r-1 b-b-1 p-3 bg-dark js-status-invalid callout-invalid">
  <div class="progress-group">
    <div class="progress-group-header">
      <i class="material-icons progress-group-icon mr-2">wc</i>
      <div class="font-weight-bold"><span class="js-status-name">4F 男性用トイレ</span></div>
    </div>
  </div>
  <span class="js-free-invalid">
    <strong class="h4 font-weight-bold">監視不能</strong>
  </span>
  <div class="callout-bg-icon-wrapper position-absolute h-100 d-flex align-items-center">
    <i class="material-icons callout-bg-icon position-absolute">warning</i>
  </div>
</div><!-- callout -->
