<!-- 監視成功モード -->
<div class="callout b-t-1 b-r-1 b-b-1 p-3 js-status-valid">
  <div class="progress-group">
    <div class="progress-group-header">
      <i class="material-icons progress-group-icon mr-2">wb_incandescent</i>
      <div class="font-weight-bold"><span class="js-status-name">7A 会議室</span></div>
    </div>
  </div>
  <span class="js-free">
    <strong class="h4 font-weight-bold js-status-available">空室</strong>
  </span>
  <div class="callout-bg-icon-wrapper position-absolute h-100 d-flex align-items-center">
    <i class="material-icons callout-bg-icon position-absolute js-status-available-icon">meeting_room</i>
  </div>
</div><!-- callout -->

<!-- 監視不能モード -->
<div class="callout b-t-1 b-r-1 b-b-1 p-3 bg-dark js-status-invalid callout-invalid">
  <div class="progress-group">
    <div class="progress-group-header">
      <i class="material-icons progress-group-icon mr-2">wb_incandescent</i>
      <div class="font-weight-bold"><span class="js-status-name">7A 会議室</span></div>
    </div>
  </div>
  <span class="js-free-invalid">
    <strong class="h4 font-weight-bold">監視不能</strong>
  </span>
  <div class="callout-bg-icon-wrapper position-absolute h-100 d-flex align-items-center">
    <i class="material-icons callout-bg-icon position-absolute">warning</i>
  </div>
</div><!-- callout -->
