// @import "../../node_modules/@coreui/coreui/dist/css/coreui.min.css";
@import "../../node_modules/@coreui/coreui/scss/coreui.scss";
@import "./loading.scss";

* {
  font-family: 'Noto Sans JP', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
}

.img-logo {
  width: auto;
  height: $navbar-height - 2 * 2;
}

.callout-invalid {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  margin: auto;
  transform: translateY(-50%);
}
