<!-- 共通フッター -->
<footer class="app-footer">
  <div>
    <span>Copyright &copy; <script>document.write(new Date().getFullYear());</script> T.S.</span>
  </div>
  <div class="ml-auto">
    <span>Powered by</span>
    <a href="https://coreui.io">CoreUI</a>
  </div>
</footer>
